:root {
  --lighter-rgb: 110 100 150;
  --darker-rgb: 30 20 70;
}

body
{
  width:100%;
  height:100%;
  margin:0%;
  padding:0%;
  justify-content:center;
  justify-items: center;
  display:flex;
  background-image:url('./assets/background.png')
}

h2
{
  margin-top:auto;
  margin-bottom:auto;
}

.nav
{
    display:flex;
    justify-content:space-around;
    background-color:black;
    color:white;
    padding:15px;
    font-size:2em;
    width:95vw;
    max-width:100%;
}

.nav a
{
    color:white;
    text-decoration:none;
}

.cardContainer
{
  display:flex;
  flex-wrap:wrap;
  width:95vw;
  justify-content:center;
}

.infoCard
{
  border:solid 1px black;
  padding:5px;
  width:30vw;
  margin:.1%;
  background-color: rgba(255,255,255,.4);
}

.icon
{
  max-height:40px;
  max-width:40px;
}

.cardHeader
{
  display:flex;
  justify-content:left;
}

.userPanel
{
  width:80%;
  margin:auto;
  padding:10px;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  justify-items:center;
  background-color: rgba(255,255,255,.4);
  border:solid black 1px;
}

.loggedOutPanel
{
  text-align:center;
}

.loggedInPanel
{
  text-align:center;
}

.infoPage
{
  width:50%;
  border:solid black 5px;
  background-color: rgba(255,255,255,.4);
}